


/* ===== HEADER DAS SECTIONS ===== */
section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/* link "Ver tudo" */
section header a {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 8px;
}

/* seta */
section header a span {
    background-image: url(../assets/icons/ArrowRight.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

/* hover */
section header a:hover span {
    background-image: url(../assets/icons/ArrowRight-hover.svg);
}


/* ===== FEATURED ===== */
#featured img {
    height: 100%;
    object-fit: cover;
}

#featured .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

#featured .card::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
    );
}

#featured .card figcaption {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

#featured .card figcaption:has(.text-lg) {
    padding: 12px;
}

#featured .card figcaption h2 {
    margin-top: 8px;
}

#featured {
    grid-area: featured;
}

/* ===== WEEKLY ===== */
#weekly > div {
    display: grid;
    grid-template-columns: repeat(4, 292px);
    gap: 16px;
}

#weekly img {
    height: 160px;
}

#weekly figure {
    position: relative;
}

#weekly figure .content-tag {
    position: absolute;
    top: 8px;
    left: 8px;
}

#weekly figure p {
    margin-top: 8px;
    font-weight: 800;
}

#weekly {
    grid-area: weekly;
}

/* ===== IA ===== */

#ia img {
        width: 170px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

#ia h3 {
        margin-block: 8px 4px;
    }

#ia {
    grid-area: ia;
}

/* ===== ASIDE ===== */
aside {
    grid-area: aside;
}

/* ===== MORE ===== */
#more {
    margin-top: 32px;
}

#more img {
    width: 90px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 8px;
}

#more h3 {
    margin-top: 8px;
}